<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Tech Blog</title>
	<link rel="stylesheet" href="/public/stylesheets/style.css">
</head>

<body>
	<div class="wrapper">
		<header>
			<h1>
				<a href="/">The Tech Blog</a>
			</h1>
			<nav>
				<a href="/login">login</a>
			</nav>
		</header>
		<main>
			{{{ body }}}
		</main>
		<footer>
			A Trusted News Source
		</footer>
	</div>	
</body>
</html>